<div class="popup">
  <div class="popup-content">
    <div #header id="header" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" class="popup-header">
      <a class="close" href="#" (click)="closeMe();">[close]</a>
    </div>
    <div class="popup-body">
      <h4>Title of modal window</h4>
      <p>Variable from parent component {{counter}}</p>
      <button type="button" class="btn btn-default" (click)="increment();">Increment</button>
      <button type="button" class="btn btn-default" (click)="decrement();">Decrement</button>
      <button type="button" class="btn btn-default" (click)="closeMe();">Close Me</button>
    </div>
  </div>
</div>