<div class="popup">
  <div class="popup-body">
    <h4>Title of modal window</h4>
    <a class="close" href="#" (click)="closeMe();">[close]</a>
    <p>Variable from parent component {{counter}}</p>
    <button type="button" class="btn btn-default" (click)="increment();">Increment</button>      
    <button type="button" class="btn btn-default" (click)="decrement();">Decrement</button>      
    <button type="button" class="btn btn-default" (click)="closeMe();">Close Me</button>      
  </div>
</div>