<!--The content below is only a placeholder and can be replaced.-->
<ng-template #parent></ng-template><br/>
<div style="text-align:center">
  <h1>
    Value of variable that belongs to parent component: {{ myNumber }}
  </h1>
</div>

<div class="wrapper">
  <div class="box"><button (click)="openPopup($event)">Open popup</button></div>
  <div class="box"><button (click)="openPopup($event)">Open popup</button></div>
  <div class="box"><button (click)="openPopup($event)">Open popup</button></div>
  <div class="box"><button (click)="openPopup($event)">Open popup</button></div>
  <div class="box"><button (click)="openPopup($event)">Open popup</button></div>
  <div class="box"><button (click)="openPopup($event)">Open popup</button></div>
</div>